<div class="container">
    <h1>this is Contact page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, optio tenetur quam non dolore
       doloremque eum facilis odit reprehenderit, inventore sint voluptas tempora molestiae qui!
       Dolorem, molestias. Provident, ipsam dolorem! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates temporibus magnam ullam soluta doloremque eos explicabo cumque repellendus. Consequatur autem iusto quas voluptates nobis perferendis accusamus perspiciatis, quo quis ducimus?</p>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <!-- card 1 start here -->
            <app-card1></app-card1>
            <!-- card 1 end here -->
        </div>

        <div class="col-md-6">
            <!-- card 2 start here -->
            <app-card2></app-card2>
            <!-- card 2 end here -->
        </div>

    </div>
</div>
