<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <button class="btn btn-success" (click)="onClick()">click</button><br>
  <h1 *ngIf="valid else elseblock">this block work when button clicked</h1>

  <ng-template #elseblock>
    <div>this block work without button clicked </div>
  </ng-template>

</body>
</html> -->


                    <!--******************** ANGULAR ROUTING*******************  -->
                    <header>
                      <nav class="header">
                        <ul class="nav nav-tabs">
                          <li class="nav-item"><a routerLink="/" class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Home</a></li>
                          <li class="nav-item"><a routerLink="/about" class="nav-link" routerLinkActive="active">Aabout Us</a></li>
                          <li class="nav-item"><a routerLink="/product" class="nav-link" routerLinkActive="active">Products</a></li>
                          <li class="nav-item"><a routerLink="/contact" class="nav-link" routerLinkActive="active">Contact Us</a></li>
                          <li class="nav-item"><a routerLink="/parent" class="nav-link" routerLinkActive="active">Buy Product</a></li>
                        </ul>
                      </nav>
                    </header>
                <router-outlet></router-outlet>



<!-- <app-ang-directive></app-ang-directive> -->