<div class="container">
  <h1>this is Product page</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, optio tenetur quam non dolore doloremque eum facilis
    odit reprehenderit, inventore sint voluptas tempora molestiae qui! Dolorem, molestias. Provident, ipsam dolorem!</p>
  <hr><br>

  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-4">
          <div class="card" style="width: 15rem;">
            <img src="../../assets/laptop1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Laptop</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a routerLink="laptop" class="btn btn-primary">Know More</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card" style="width: 15rem;">
            <img src="../../assets/washing.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Washin Machine</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a routerLink="washing-machine" class="btn btn-primary">Know More</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card" style="width: 15rem;">
            <img src="../../assets/tv.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">T.v</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a routerLink="tv" class="btn btn-primary">Know More</a>
            </div>
          </div>
        </div>

 

      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3  border-danger border-start">
      <router-outlet></router-outlet>
    </div>  
   
  </div>


</div>